@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  padding: 20px 60px; 
}

a {
  color: #6f6c70;
  text-decoration: none;
}